body {
  margin: 0; /*geeting rid of the default white margin around the body edges*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
a {
  color: #fff;
}
header {
  background-color: #000;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 15;
}
header ul {
  margin: 0;
  padding: 0px;
  list-style: none; /*remove the bullet points*/
  overflow: hidden; /*anything that will flow out of bounds will be hidden*/
  position: relative;
  top: 50px;
}
header ul a {
  display: block;
  padding: 20px;
  border-right: 1px solid #aaa;
  box-shadow: #aaa;
  box-shadow: 4px;
  text-decoration: none; /*remove underline*/
  transition: all 0.6s ease;
}
header ul a:hover {
  background-color: #37ff14f2;
}
header .logo {
  margin-left: 5%;
  float: left;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  width: 150px;
  height: 100px;
}
header .menu {
  clear: both; /*forces the menu to be cleared below the left floated title*/
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
header .menu-icon {
  padding: 28px 20px;
  position: relative;
  left: 80%;
  top: 50px;
  cursor: pointer;
}
header .menu-icon .nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}
header .menu-icon .nav-icon:before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}
header .menu-icon .nav-icon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}
header .menu-btn {
  display: none;
}
header .menu-btn:checked ~ .menu {
  max-height: 300px;
  background: black;
}
header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

@media only screen and (min-width: 768px) {
  header {
    height: 150px;
  }
  header .logo {
    width: 200px;
    height: 125px;
    padding-bottom: 2%;
  }
  header li {
    float: left;
    font-size: large;
  }
  header li a {
    padding: 20px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}
@media only screen and (min-width: 920px) {
  header {
    height: 125px;
  }
  header .logo {
    padding-left: 40px;
    padding-bottom: 2%;
    width: 200px;
    height: 100px;
  }
  header li {
    float: left;
    font-size: larger;
  }
  header li a {
    padding: 20px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    height: 125px;
  }
  header .logo {
    margin-top: 1%;
    padding-left: 40px;
    padding-bottom: 2%;
    width: 200px;
    height: 100px;
  }
  header li {
    float: left;
    font-size: larger;
  }
  header li a {
    padding: 20px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}
