#preloader {
  background: #151d26 url(chem-gif-preloader1.gif) no-repeat fixed center
    center/30%;
  z-index: 16;
  height: 100%;
  width: 100%;
  position: fixed;
}

@media screen and (max-width: 600px) {
  .Introduction-HomePage {
    width: 100%;
    background-color: black;
    background-image: url(Chemistry\ background\ -\ Homepage.jpg);
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=VT323&display=swap");
  h2,
  h3,
  h4 {
    color: white;
    font-family: "Merriweather";
    box-shadow: 4px #37ff14f2;
    position: relative;
    top: 150px;
    left: 125px;
  }

  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 30px;
    position: relative;
    top: 130px;
    left: 80px;
    width: 900px;
    height: 100px;
  }
  h4 {
    font-size: 30px;
    position: relative;
    top: 90px;
    left: 300px;
  }
  .Video {
    display: inline-block;
    position: relative;
    left: 20px;
    top: -200px;
  }
}
@media only screen and (max-width: 600px) {
  .Introduction-HomePage {
    position: relative;
    top: 80px;
    width: 600px;
    height: 500px;
  }
  h2,
  h3,
  h4 {
    top: 120px;
    left: 100px;
  }

  h2 {
    position: relative;
    left: 40px;
    top: 40px;
    font-size: 50px;
  }
  h3 {
    font-size: 20px;
    position: relative;
    left: 30px;
    top: 50px;
    width: 400px;
    height: 200px;
  }
  h4 {
    font-size: 15px;
    position: relative;
    top: 10px;
    left: 30%;
  }
  .Video {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 100px;
  }
}
@media only screen and (min-width: 601px) {
  .Introduction-HomePage {
    position: relative;
    top: 0px;
    width: 700px;
    height: 500px;
    background-color: black;
    background-image: url(Chemistry\ background\ -\ Homepage.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  h2,
  h3,
  h4 {
    color: white;
    font-family: "Merriweather";
    box-shadow: 4px #37ff14f2;
    position: relative;
    top: 120px;
    left: 100px;
  }

  h2 {
    position: relative;
    left: 40px;
    top: 100px;
    font-size: 50px;
  }
  h3 {
    font-size: 20px;
    position: relative;
    color: #fff;
    left: 30px;
    top: 80px;
    width: 530px;
    height: 200px;
  }
  h4 {
    font-size: 15px;
    position: relative;
    top: 60px;
    left: 27%;
  }
  .Video {
    display: inline-block;
    position: relative;
    left: 70px;
    top: 100px;
    width: 550px;
  }
}
@media only screen and (min-width: 786px) {
  .Introduction-HomePage {
    position: relative;
    top: 80px;
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url(Chemistry\ background\ -\ Homepage.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  h2,
  h3,
  h4 {
    top: 120px;
    left: 100px;
  }

  h2 {
    position: relative;
    left: 80px;
    top: 60px;
    font-size: 50px;
  }
  h3 {
    font-size: 25px;
    position: relative;
    left: 60px;
    top: 50px;
    width: 600px;
    height: 200px;
  }
  h4 {
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 25%;
  }
  .Video {
    display: inline-block;
    position: relative;
    left: 00px;
    top: -380px;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .Video:hover {
    z-index: 13;
    display: inline-block;
    position: relative;
    left: 00px;
    top: -380px;
  }
}
@media screen and (min-width: 972px) {
  .Introduction-HomePage {
    width: 100%;
    background-color: black;
    background-image: url(Chemistry\ background\ -\ Homepage.jpg);
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: relative;
    top: -10px;
  }
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=VT323&display=swap");
  h2,
  h3,
  h4 {
    color: white;
    font-family: "Merriweather";
    box-shadow: 4px #37ff14f2;
    position: relative;
    top: 150px;
    left: 125px;
  }

  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 30px;
    position: relative;
    top: 130px;
    left: 80px;
    width: 900px;
    height: 100px;
  }
  h4 {
    font-size: 30px;
    position: relative;
    top: 90px;
    left: 300px;
  }
  .Video {
    display: inline-block;
    position: relative;
    left: 00px;
    top: -380px;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .Video:hover {
    z-index: 13;
    display: inline-block;
    position: relative;
    left: 00px;
    top: -380px;
  }
}

@media screen and (max-width: 600px) {
  #contact-us-box {
    width: 80%;
    height: 80%;
    top: -150px;
    left: 40px;
    background-color: aqua;
    color: #000;
    position: relative;
    border-radius: 20px;
    border: 2px solid #39ff14;
    z-index: 10px;
  }

  #Name,
  #email,
  #message {
    position: relative;
    left: 10px;
    top: 40px;
    color: #000;
    display: block;
    width: 400px;
    height: 50px;
    margin-top: 40px;
  }
  #message {
    margin-bottom: 50px;
    height: 200px;
  }
  .Questions-contactus {
    position: relative;
    left: 50px;
    top: 70px;
  }
  .Questions-contactus1 {
    position: relative;
    left: -340px;
    top: 100px;
  }
  .box1random-contactus {
    background-color: #000;
    width: 200px;
    height: 45px;
    z-index: 500px;
    position: relative;
    left: 240px;
    top: 0px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .icons {
    position: relative;
    left: 15px;
    top: 20px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .contactus-gifbox1 {
    background-color: aqua;
    position: relative;
    top: 870px;
    left: 100px;
    z-index: 13px;
    border-radius: 20px;
    border: 2px solid #39ff14;
  }
  .button1 {
    display: inline-block;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 5%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button {
    position: relative;
    top: -500px;
    left: 350px;
    display: block;
    margin-top: 45%;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 30%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button:hover {
    background-color: #39ff14;
  }
  .button1:hover {
    background-color: #39ff14;
  }
  #contactuscontainer {
    background-color: #fff;
  }
  .bi {
    float: center;
  }
  .intro4 {
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    left: 40px;
    top: 10px;
  }
}
@media screen and (min-width: 601px) {
  #contact-us-box {
    width: 80%;
    height: 80%;
    top: -150px;
    left: 40px;
    background-color: aqua;
    color: #000;
    position: relative;
    border-radius: 20px;
    border: 2px solid #39ff14;
    z-index: 10px;
  }

  #Name,
  #email,
  #message {
    position: relative;
    left: 20px;
    top: 40px;
    color: #000;
    display: block;
    width: 400px;
    height: 50px;
    margin-top: 40px;
  }
  #message {
    margin-bottom: 50px;
    height: 200px;
  }
  .Questions-contactus {
    position: relative;
    left: 50px;
    top: 70px;
  }
  .Questions-contactus1 {
    position: relative;
    left: -340px;
    top: 100px;
  }
  .box1random-contactus {
    background-color: #000;
    width: 200px;
    height: 45px;
    z-index: 500px;
    position: relative;
    left: 340px;
    top: -5px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .icons {
    position: relative;
    left: 15px;
    top: 20px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .contactus-gifbox1 {
    background-color: aqua;
    position: relative;
    top: 850px;
    left: 150px;
    z-index: 13px;
    border-radius: 20px;
    border: 2px solid #39ff14;
  }
  .button1 {
    display: inline-block;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 5%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button {
    position: relative;
    top: -590px;
    left: 350px;
    display: block;
    margin-top: 45%;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 30%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button:hover {
    background-color: #39ff14;
  }
  .button1:hover {
    background-color: #39ff14;
  }
  #contactuscontainer {
    background-color: #fff;
  }
  .bi {
    float: center;
  }
  .intro4 {
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    left: 40px;
    top: 10px;
  }
}
@media screen and (min-width: 768px) {
  #contact-us-box {
    width: 700px;
    height: 700px;
    background-color: aqua;
    color: #000;
    position: relative;
    top: -150px;
    left: 150px;
    border-radius: 20px;
    border: 2px solid #39ff14;
  }

  #Name,
  #email,
  #message {
    position: relative;
    left: 50px;
    top: 40px;
    color: #000;
    display: block;
    width: 500px;
    height: 50px;
    margin-top: 40px;
  }
  #message {
    margin-bottom: 50px;
    height: 200px;
  }
  .Questions-contactus {
    position: relative;
    left: 50px;
    top: 70px;
  }
  .Questions-contactus1 {
    position: relative;
    left: -450px;
    top: 110px;
  }
  .box1random-contactus {
    background-color: #000;
    width: 45px;
    height: 200px;
    z-index: 500px;
    position: relative;
    left: 590px;
    top: -280px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .icons {
    position: relative;
    left: 15px;
    top: 20px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .contactus-gifbox1 {
    background-color: aqua;
    position: relative;
    top: 850px;
    left: 100px;
    border-radius: 20px;
    border: 2px solid #39ff14;
  }
  .button1 {
    display: block;
    margin-top: 30%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button {
    position: relative;
    top: -640px;
    left: 440px;
    display: block;
    margin-top: 30%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button:hover {
    background-color: #39ff14;
  }
  .button1:hover {
    background-color: #39ff14;
  }
  #contactuscontainer {
    background-color: #fff;
  }
  .bi {
    float: center;
  }
  .intro4 {
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    left: 70px;
    top: 10px;
  }
}
@media screen and (min-width: 972px) {
  #contact-us-box {
    width: 700px;
    height: 700px;
    background-color: aqua;
    color: #000;
    position: relative;
    top: -150px;
    z-index: 10px;
    left: 20px;
    border-radius: 20px;
    border: 2px solid #39ff14;
  }

  #Name,
  #email,
  #message {
    position: relative;
    left: 50px;
    top: 40px;
    color: #000;
    display: block;
    width: 500px;
    height: 50px;
    margin-top: 40px;
  }
  #message {
    margin-bottom: 50px;
    height: 200px;
  }
  .Questions-contactus {
    position: relative;
    left: 50px;
    top: 70px;
  }
  .Questions-contactus1 {
    position: relative;
    left: -450px;
    top: 110px;
  }
  .box1random-contactus {
    background-color: #000;
    width: 45px;
    height: 200px;
    z-index: 500px;
    position: relative;
    left: 600px;
    top: -180px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .icons {
    position: relative;
    left: 15px;
    top: 20px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .contactus-gifbox1 {
    background-color: aqua;
    position: relative;
    top: 270px;
    left: 630px;
    border-radius: 20px;
    border: 2px solid #39ff14;
    z-index: 13px;
  }
  .button1 {
    display: block;
    margin-top: 30%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button {
    position: relative;
    top: -540px;
    left: 370px;
    display: block;
    margin-top: 30%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button:hover {
    background-color: #39ff14;
  }
  .button1:hover {
    background-color: #39ff14;
  }
  #contactuscontainer {
    background-color: #fff;
  }
  .bi {
    float: center;
  }
  .intro4 {
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    left: 70px;
    top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  #contact-us-box {
    width: 700px;
    height: 700px;
    background-color: aqua;
    color: #000;
    position: relative;
    top: -150px;
    left: 150px;
    border-radius: 20px;
    border: 2px solid #39ff14;
  }

  #Name,
  #email,
  #message {
    position: relative;
    left: 50px;
    top: 40px;
    color: #000;
    display: block;
    width: 500px;
    height: 50px;
    margin-top: 40px;
  }
  #message {
    margin-bottom: 50px;
    height: 200px;
  }
  .Questions-contactus {
    position: relative;
    left: 50px;
    top: 70px;
  }
  .Questions-contactus1 {
    position: relative;
    left: -450px;
    top: 110px;
  }
  .box1random-contactus {
    background-color: #000;
    width: 45px;
    height: 200px;
    z-index: 500px;
    position: relative;
    left: 590px;
    top: -280px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .icons {
    position: relative;
    left: 15px;
    top: 20px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 3px solid #39ff14;
  }
  .contactus-gifbox1 {
    background-color: aqua;
    position: relative;
    top: 400px;
    left: 900px;
    border-radius: 20px;
    border: 2px solid #39ff14;
  }
  .button1 {
    display: block;
    margin-top: 30%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button {
    position: relative;
    top: -640px;
    left: 440px;
    display: block;
    margin-top: 30%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
    background-color: antiquewhite;
    color: #39ff14;
    border-radius: 15px;
    border: 2px solid #39ff14;
    position: relative;
    font-size: x-large;
    font-weight: bold;
    color: #000;
  }
  .button:hover {
    background-color: #39ff14;
  }
  .button1:hover {
    background-color: #39ff14;
  }
  #contactuscontainer {
    background-color: #fff;
  }
  .bi {
    float: center;
  }
  .intro4 {
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    left: 70px;
    top: 10px;
  }
}
