.contain-sliderss {
  padding: 2px;
}
.slider-wrapper {
  position: relative;
  left: 600px;
  top: 250px;
  display: inline-block;
  position: relative;
  max-width: 600px;
  max-height: 1800px;
  margin: 0 auto;
}
#section1,
#section2,
#section3 {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  background-color: #fff;
  width: 550px;
  height: 300px;
  border-radius: 10px;
  border: 3px solid #39ff14;
}
.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 1px 4px -7px hsl(0, 100%, 50%);
  border-radius: 5px;
}
.slider-nav {
  display: flex;
  column-gap: 1px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transition: translateX(-50%);
  z-index: 500;
}
.slider-nav a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
  opacity: 0.75;
  transition: opacity ease 25s;
}
.slider-nav a:hover {
  opacity: 1;
}
.slider p {
  font-size: x-large;
  color: aqua;
  z-index: 700;
}
@media (max-width: 600px) {
  .slider-wrapper {
    max-width: 1200px;
    height: 600px;
    position: relative;
    top: 200px;
    left: 20px;
  }
  #section1,
  #section2,
  #section3 {
    width: 500px;
    height: 600px;
  }
  .contain-sliderss {
    padding: 2px;
  }
}
@media (min-width: 601px) {
  .slider-wrapper {
    max-width: 550px;
    height: 600px;
    position: relative;
    top: 200px;
    left: 50px;
  }
  #section1,
  #section2,
  #section3 {
    width: 500px;
    height: 600px;
  }
  .contain-sliderss {
    padding: 2px;
  }
}
@media screen and (min-width: 786px) {
  .slider-wrapper {
    max-width: 600px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 40px;
  }
  #section1,
  #section2,
  #section3 {
    width: 600px;
    height: 700px;
  }
  .contain-sliderss {
    padding: 2px;
    position: relative;
    left: 100px;
    z-index: 5;
    transition: all 0.6s ease;
  }
  .contain-sliderss:hover {
    z-index: 13;
    padding: 2px;
    position: relative;
    left: 100px;
  }
}
@media screen and (min-width: 972px) {
  .slider-wrapper {
    max-width: 800px;
    height: 500px;
    position: relative;
    top: 200px;
    left: 240px;
  }
  #section1,
  #section2,
  #section3 {
    width: 400px;
    height: 500px;
  }

  .contain-sliderss {
    padding: 2px;
    position: relative;
    left: 100px;
    z-index: 5;
    transition: all 0.6s ease;
  }
  .contain-sliderss:hover {
    z-index: 13;
    padding: 2px;
    position: relative;
    left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .contain-sliderss {
    padding: 2px;
  }
  .slider-wrapper {
    position: relative;
    left: 600px;
    top: 250px;
    display: inline-block;
    position: relative;
    max-width: 600px;
    max-height: 1800px;
    margin: 0 auto;
  }
  #section1,
  #section2,
  #section3 {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    background-color: #fff;
    width: 550px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid #39ff14;
  }
  .slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 1px 4px -7px hsl(0, 100%, 50%);
    border-radius: 5px;
  }
  .slider-nav {
    display: flex;
    column-gap: 1px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transition: translateX(-50%);
    z-index: 500;
  }
  .slider-nav a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    opacity: 0.75;
    transition: opacity ease 25s;
  }
  .slider-nav a:hover {
    opacity: 1;
  }
  .slider p {
    font-size: x-large;
    color: aqua;
    z-index: 700;
  }
}
